* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  border: none;
  outline: none;
}

body {
  background: url("img/bg-forest.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

/* FONTS */
* {
  font-family: 'Gentium Book Basic', serif;
  color: #1d1d1a;
}

h2 {
  text-align: center;
  margin: 10px 0;
}

h3 {
  font-family: 'Great Vibes', cursive;
}

h4 {
  font-weight: normal;
}

#cardContainer input {
  font-size: 1.2em;
}

.numHandler {
  font-size: 1.5em;
  line-height: 0;
  font-weight: 400;
}

/* MAIN CONTAINER */

.borderContainer {
  width: 90%;
  max-width: 600px;
  background: #e0e0dbee;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid #1d1d1a50;
}


#cardContainer {
  max-width: 60vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.roll {
  width: 80px;
  height: 40px;
  background: #1d1d1a;
  border: 1px solid #e0e0db80;
  outline: 3px solid #1d1d1a;
  color: #e0e0db;
  text-transform: uppercase;
  font-size: 1.2em;
}

.clear {
  height: 30px;
  background: none;
  border: 1px solid #1d1d1a50;
  padding-left: 5px;
  padding-right: 5px;
}

#clearHistory {
  margin-top: 10px;
}

input[type="checkbox"] {
  /* filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%); */
  accent-color: #1d1d1a;
  cursor: pointer;
}

.result {
  margin-top: 10px;
}

#rollResult {
  height: 1em;
  font-size: 3em;
  font-weight: bold;
}

#individualResults {
  min-height: 55px;
  font-size: 1.2em;
  line-height: 0.6em;
  display: flex;
}

#exploding {
  margin-bottom: 10px;
}

/* DICE ICONS */
.D4 {
  background: url("img/dice/d4.svg");
}

.D6 {
  background: url("img/dice/d6.svg");
}

.D8 {
  background: url("img/dice/d8.svg");
}

.D10 {
  background: url("img/dice/d10.svg");
}

.D100 {
  background: url("img/dice/d100.svg");
}

.D12 {
  background: url("img/dice/d12.svg");
}

.D20 {
  background: url("img/dice/d20.svg");
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dieForm .icon {
    margin-bottom: 3px;
}

.numInput {
  width: 50px;
  height: 50px;
  border: none;
  text-align: center;
  padding: 0;
}

#cardContainer .D4 {
  padding-top: 6px;
}

#individualResults .D4 {
  line-height: 1em;
  /* padding: 0; */
  /* padding-top: 6px; */
}

#recordedResults .D4 {
line-height: 0em;
  /* padding-top: 6px; */
}



/* DICE WRAPPERS */

.dieWrapper {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dieWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numHandler {
  width: 24px;
  height: 24px;
  background: none;
  border: 1px solid #1d1d1a50
}

/* RESULT RECORDS */
#recordedResults {
  width: calc(90vw - 60px);
  max-width: 300px;
  margin: 0 auto;
}

#tableContainer {
  min-height: 290px;
}

table,
tr {
  border: 1px solid #1d1d1a50;
  border-top: none;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

table,
tr:last-child {
  border-bottom: none;
}

td {
  padding: 3px;
}

.recordId {
  width: 40px;
  text-align: right;
  font-size: 0.8em;
}

.recordTotal {
  width: 70px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
}

.recordIcons {
  text-align: left;
}

.recordIcons div {
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 0em;
  font-size: 0.8em;
  margin-bottom: 0;
}

.history h4:nth-of-type(1) {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* CREDITS */

#credits {
  font-size: 0.8em;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
  opacity: 60%;
}

/* LOGO */

img {
  height: 70px;
}

h3 {
  font-size: 1.5em;
  line-height: 0.7em;
}

/* CHECKBOX */

.checkcontainer {
  display: block;
  position: relative;
  padding-right: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 1;
  height: 16px;
  width: 16px;
  border: 1px solid #1d1d1a50;
  margin-left: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  content: "+";
  font-size: 2em;
  color:#1d1d1a;
  left: 1px;
  top: -12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}