* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

/* FONTS */
h2 {
    text-align: center;
    margin: 10px 0;
}

/* DICE WRAPPERS */

.dieWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.dieWrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dieForm {
    display: flex;
    gap: 5px;
}

.numInput {
    width: 50px;
    height: 20px;
}

.numHandler {
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    border-radius: 3px;
}

/* RESULT WRAPPER */

.resultWrapper {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.roll {
    width: 80px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 3px;
}

input[type=checkbox] {
    accent-color: #000;
}

.result {
    margin-top: 20px;
}

#rollResult {
    font-size: 2em;
    font-weight: bold;
}

/* DICE ICONS */
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 11px;
    background: #888;
}

.D4 {
    background: url('img/d4.svg');
    background-size: cover;
}

.D6 {
    background: url('img/d6.svg');
    background-size: cover;
}

.D8 {
    background: url('img/d8.svg');
    background-size: cover;
}

.D10 {
    background: url('img/d10.svg');
    background-size: cover;
}

.D100 {
    background: url('img/d100.svg');
    background-size: cover;
}

.D12 {
    background: url('img/d12.svg');
    background-size: cover;
}

.D20 {
    background: url('img/d20.svg');
    background-size: cover;
}