* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  background: url("img/wald-abstrakt-herbst-hintergrund.jpg");
}

#cardContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

button {
  cursor: pointer;
}

/* FONTS */
h2 {
  text-align: center;
  margin: 10px 0;
}

h4 {
  font-size: 1em;
  font-weight: normal;
}

/* MAIN CONTAINER */
.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 10px;
}

.roll {
  width: 80px;
  height: 40px;
  background: #000;
  color: #fff;
  border-radius: 3px;
}

.clear {
  width: 56px;
  height: 28px;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
}

input[type="checkbox"] {
  accent-color: #000;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

#rollResult {
  font-size: 2em;
  font-weight: bold;
}

#exploding {
  margin-bottom: 20px;
}

/* DICE ICONS */
.D4 {
  background: url("img/d4.svg");
  position: relative;
  padding-top: 14px;
}

.D6 {
  background: url("img/d6.svg");
  margin: 0 0 5px;
}

.D8 {
  background: url("img/d8.svg");
}

.D10 {
  background: url("img/d10.svg");
}

.D100 {
  background: url("img/d100.svg");
}

.D12 {
  background: url("img/d12.svg");
}

.D20 {
  background: url("img/d20.svg");
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  padding-top: 11px;
  margin: 0 2px 5px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.numInput {
  width: 50px;
  height: 50px;
  border: none;
  text-align: center;
  padding: 0;
}

.icon.D4 {
  padding-top: 14px;
}

.numInput.D4 {
  padding-top: 6px;
}

/* DICE WRAPPERS */

.dieWrapper {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dieWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numHandler {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #888;
}

/* RESULT RECORDS */
#recordedResults span {
  display: inline-block;
}

.recordRow {
  display: flex;
  align-items: center;
}

.recordId {
  width: 50px;
}

.recordTotal {
  font-weight: bold;
  font-size: 1.3em;
  width: 30px;
  text-align: right;
}

.recordIcons {
  scale: 0.7;
}

.result h4:nth-of-type(2) {
    margin-top: 30px;
}
